:root {
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}
  
body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background-color: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    -webkit-animation: bg-animation 25s infinite;
            animation: bg-animation 25s infinite;
}
  
@-webkit-keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
}
  
@keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
}

.content-navbar {
  background-color: white;
  width: 80vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.content {
    background-color: white;
    width: 80vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}
  
.mainTitle {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: #ee6352;
    line-height: 0.8;
    margin: 0;
    background-image: var(--gradient);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 1s;
}

.mainTitle:hover {
  background-position: right;
}

.title {
    margin-bottom: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    color: #ee6352;
    line-height: 0.8;
    background-image: var(--gradient);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 1s;
}
  
.title:hover {
    background-position: right;
}

#pageTitle {
    float: left;
}

.navbar {
    float: right;
}

.navbar ul {
  display: inline-flex;
}

.navbar li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.navbar a {
    display: block;
    text-decoration: none;
    font-size: 5px 20px;
    font-family: arial;
    color: #f45e61;
    padding: 0 20px;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #fbca67
      #f45e61
    ) 1 100%;
    transition: bottom-to-top 0.6s;
}

.navbar a:hover {
  color: #fbca67;
}

.fun {
    color: white;
    border: 0;
    cursor: pointer;
    padding: 0.5em 1.25em;
    background: linear-gradient(90deg, #ee6352, purple, #ee6352);
    background-size: 300%;
    background-position: left;
    transition: background-position 350ms;
}
  
.fun:hover {
    background-position: right;
}

.container {
    margin-top: 40px;
}

.productList {
  background: white;
}

.productList li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.productList a {
  display: block;
  text-decoration: none;
  font-size: 5px 20px;
  font-family: arial;
  color: #f45e61;
  padding: 0 20px;
  border-width: 3px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to bottom, 
    #fbca67
    #f45e61
  ) 1 100%;
  transition: bottom-to-top 0.6s;
}

.productList a:hover {
color: #fbca67;
}

.table {
  width: 100%;
}

.table.dataTable {
  margin: -6.35em;
}

/* 
Credits go to Kevin Powell and his Youtube channel, with his awesome content about css
*/
