{% extends "layout.html.jinja" %}


{% block middle %}
    <h2 class="title"> ABOUT ME </h2>
    <p> My name is Luke Kadlubowski, I just started studying applied informatics at the economics university in Cracow. 
    Let me tell you a little about me.</p>

    <h3> Some history </h3>
    <p> My way to applied informatics was not always clear. For a long time I did not know what
    I want to do with my life after I finish school. So one way to find out is to just start working and see if I like it, or not.
    I started working at the hospital. I thought this will be a good oportunity to prepare for something that was coming up fast.
    After I finished high school I was oblieged to join the swiss military, because it is obligatory in switzerland. I joined the
    military and I was trained to be a medic. Thats why I went to the hospital earlier, to get familiar with this kind of work. Later
    in the military I specialized as a surgeon's assistent, which was way more responsible stuff that I did at the hospital.
    I have to say, the first few weeks at the hospital were tuff for me. The smell, and the things you see at the hospital, 
    it is something that you need to get used to. After working 4 months at the hospital my conclusion was that I like helping people,
    but I felt something is missing. So after the hospital I joined the military for 6 months. During that time I learned some more stuff about me.
    But the most important thing that I took with me from that time is that I definitly need some job where I need to think for myself.
    So after I finished the initial training at the military(6 months) it was time to think of studying. I still was not sure in which direction to go
    but I knew what I don't want, so that was already a big help. I started my student life at the jagelonian university, at the economics department,
    banking and accounting. I met some great people there. One of my colleagues worked already and he was only studying to get some more certificates, so
    I asked him if it was ok, if I came to visit him at work and to take a look at what his job looks like. This was a turning point for me. I realised
    that this is not what I am good at. So the search continued. I interrupted my studies, and I found a job in a small company here in Cracow. The company
    was related to the medical field, but this time I wasn't helping patients, I was helping planning events for doctors, lawyers and profesors
    from the medical field. And then just after I started working at this small company, the Sars-Cov2 virus reached Europe. I lost my job. I had nothing to do.
    So I decided to retake my matura exam to get a higher score. While I was busy learning and preparing for the exam, time flew by.
    And so summer arrived, the exam was taken and I could start to worry again on which studies I want to go. I got a job at a construction company in
    switzerland. I worked the whole summer, it was a very physical job, I would dare to say it was more physical then the military.</p>
    
    <h3> Conclusions </h3>
    <p> Just like with the hospital, 
    the military and the office job in Cracow, i drew my conclusions from the time I worked at the construction site. It became clear to me that I like being outdoors 
    and being indoors. I like helping people and I like to think about some difficult problems while doing my job. As far as I am concerned this is one way 
    of describing some sort of engineer, what kind of is yet to be decided. I could follow my fathers footsteps and become a network engineer, but like I said 
    The way that lays ahead of me is yet to become fully clear. </p>
{% endblock middle %}