{% extends "layout.html.jinja" %}

{% block middle %}
    <h3 class="title"> {{ productBrand }}</h3>
    <ul class="productList">
        {% for productID in productsList %}
            <li><a href="{{url_for('product', productBrand=productBrand, productID=productID)}}" >{{ productID }}</a></li>
        {% endfor %}
    </ul>
{% endblock middle %}