{% extends "layout.html.jinja" %}

{% block middle %}
    <h2 class="title"> Brands </h2>
    <ul class="productList">
        {% for product in productsList %}
            <li><a href="{{url_for('product', productID=product)}}" >{{ product }}</a></li>
        {% endfor %}
    </ul>
{% endblock middle %}