{% extends "layout.html.jinja" %}

{% block middle %}
    <h3 class="title"> {{ productBrand }}</h3>
    <p> You have reached the brand.html file </p>
    <ul class="productList">
        {% for product in DB_Products_model %}
            <li><a href="{{url_for('product', productBrand=productBrand, product=product)}}" >{{ product }}</a></li>
        {% endfor %}
    </ul>
{% endblock middle %}