{% extends "layout.html.jinja" %}

{% block middle %}
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
    <canvas>
        <img src="app\static\Graphs\iPhone\stars.png" alt="starsGraph">
    </canvas>
{% endblock middle %}
{% block scripts %}
<script>
      $(document).ready(function(){
          $('#opinionTable').DataTable();
      });
</script>
{% endblock scripts %}