{% extends "layout.html.jinja" %}

{% block middle %}
    <h2> Opinions extraction </h2>
    <h3> {{ test }} </h3>
    {% if form.productID.errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.productID.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{ url_for('extract') }}">
        {#{{ form.csrf_token }} #}
        {{ form.productID.label }} {{ form.productID(size=20) }}
        {{ form.submit(class_="btn btn-info")}}
    </form>
{% endblock middle %}