{% extends "layout.html.jinja" %}

{% block middle %}
    <h2 class="title"> Project Webscrapper </h2>
    <p> The Webscrapper app is designed to work for the ceneo website. It uses the ceneo's html structure to gather information about opinions and
    and the opinions themself. The whole app runs on flask and is written in python plus jinja. </p>
    <h3> Libraries used </h3>
    {% for line in requirements %}
        {{ line }} <br>
    {% endfor %}

{% endblock middle %}