{% extends "layout.html.jinja" %}

{% block middle %}
    <h2 class="title"> Products </h2>
    
    <ul class="productList">
        {% for product in brandList %}
            <li><a href="{{url_for('brands', productID=product)}}">{{ product }}</a></li>
        {% endfor %}
    </ul>

{% endblock middle %}