{% extends "layout.html.jinja" %}

{% block middle %}

    <form method="POST">
        {{ form.csrf_token }}
        <div>
            <label for="email">Brand</label>
            {{ form.brand(class="form-control", onchange = "myFunction()") }}
        </div>
        <div>
            <label for="email">Product</label>
            {{ form.products(class="form-control") }}
        </div>
        
        <input type="submit" class="btn btn-success" btn-lg>
    </form>

{% endblock middle %}
{% block scripts %}
{% endblock scripts %}