{% extends "layout.html.jinja" %}

{% block middle %}
    <!--<h2> {{ productName }} </h2>
    <h2> {{  productID  }} </h2>-->
    {% for table in table %}
        {{ table|safe }}
    {% endfor %}


{% endblock middle %}